<!--The content below is only a placeholder and can be replaced.-->
<div [ngSwitch]="testData">

  <div *ngSwitchCase="'app-in-line'">
    <app-in-line></app-in-line>
  </div>

  <div *ngSwitchCase="'app-data-binding'">
    <app-data-binding></app-data-binding>
  </div>

  <div *ngSwitchCase="'app-ng-if'">
    <app-ng-if></app-ng-if>
  </div>

  <div *ngSwitchCase="'app-ng-switch'">
    <app-ng-switch></app-ng-switch>
  </div>

  <div *ngSwitchCase="'app-ng-for'">
    <app-ng-for></app-ng-for>
  </div>

  <div *ngSwitchCase="'app-component-interaction'">
    <app-component-interaction (childData)="message=$event" [parentName]="name"></app-component-interaction>
    <h2>{{message}}</h2>
  </div>

  <div *ngSwitchCase="'app-pipes'">
    <app-pipes></app-pipes>
  </div>

  <div *ngSwitchCase="'app-employee-list'">
    <app-employee-list></app-employee-list>
    <app-employee-detail></app-employee-detail>
  </div>

  <div *ngSwitchCase="''">

  </div>

  <!-- 

  <div *ngSwitchCase="''">

  </div>

   -->
</div>

<nav>
  <a class="button" routerLink = "/list" routerLinkActive = "active"> EmployeeList </a> 
  <a class="button" routerLink = "/details" routerLinkActive = "active"> EmployeeDetails </a>
</nav>

<router-outlet></router-outlet>