/* You can add global styles to this file, and also import other style files */
nav a.active{
    color: #d81515;
}

.button {
    border-style: solid;
    border-width : 1px 1px 1px 1px;
    text-decoration : none;
    padding : 4px;
    border-color : #000000
}